createdAt: "2018-03-25T06:35:16.355Z"
updatedAt: "2018-03-25T16:23:45.969Z"
type: "MARKDOWN_NOTE"
folder: "4e6ec3c07b3c53796092"
title: "bash check argument empty"
content: '''
  # bash check argument empty
  ```bash
  if [ $# -eq 0 ]
    then
      echo "No arguments supplied"
  fi
  ```
  The `$#`variable will tell you the number of input arguments the script was passed.
  Or you can check if an argument is an empty string or not like:
  
  ```bash
  
  if [ -z "$1" ]
    then
      echo "No argument supplied"
  fi
  ```
  
  The -z switch will test if the expansion of "$1" is a null string or not. 
  If it is a null string then the body is executed.
'''
tags: []
isStarred: false
isTrashed: false
