createdAt: "2018-03-25T06:59:19.773Z"
updatedAt: "2018-04-05T09:30:44.077Z"
type: "MARKDOWN_NOTE"
folder: "4e6ec3c07b3c53796092"
title: "farahoosh"
content: '''
  #farahoosh
  
  ## mac
  8C:25:05:B9:0E:16
  [connected] 9C:F3:87:54:59:93
  ```
  
  00:0C:42:2D:68:59  88:63:DF:AC:F1:DF  -61    0 - 1e     0        3  farahoosh-wireless            
   00:0C:42:2D:68:59  A4:71:74:EB:E3:5C  -77   18e-11e     0        3                                
   00:0C:42:2D:68:59  F4:CB:52:8F:E6:E7  -70   36e-24e  1352       13                                
   00:0C:42:2D:68:59  08:ED:B9:E6:B2:C3  -44   54e- 1    144        5                                
   00:0C:42:2D:68:59  C8:FF:28:5E:A7:35  -44   54e-54e     8     1467                                
   00:0C:42:2D:68:59  90:48:9A:B3:6A:C9  -40   54e-24e     2      262                                
   00:0C:42:2D:68:59  7C:7D:3D:DA:09:E3  -46   54e-48      0        5                                
   00:0C:42:2D:68:59  A8:66:7F:C5:8E:92  -51   48e-54e     4     1301                                
   00:0C:42:2D:68:59  8C:25:05:B9:0F:1A  -56   48e- 6      0       12                                
   00:0C:42:2D:68:59  B0:89:00:F5:0C:CF  -51   54e-48e     0      101                                
   00:0C:42:2D:68:59  5C:A8:6A:A3:AE:9A  -58   54e- 6      0       26                                
   00:0C:42:2D:68:59  00:16:EA:61:9D:6C  -63   54e-24e     0      161                                
   00:0C:42:2D:68:59  8C:25:05:B9:0E:16  -66    0 - 6    294        4                                
   00:0C:42:2D:68:59  70:70:0D:A5:69:4A  -67   54e-24    258        4                                
   00:0C:42:2D:68:59  9C:F3:87:54:59:93  -70   12e-24      0        5                                
   90:EF:68:75:F8:4C  14:2D:27:6F:DF:11   -1    1e- 0      0        2                                
   90:EF:68:75:F8:4C  E8:50:8B:D4:69:4A  -81    1e- 1e     0        8                                
  ```
  ## ip
  ```
  94.74.128.1
  94.74.128.2
  94.74.128.3
  94.74.128.4
  94.74.128.5
  94.74.128.6
  94.74.128.7
  94.74.128.8
  94.74.128.9
  94.74.128.10
  94.74.128.11
  94.74.128.12
  94.74.128.13
  94.74.128.14
  94.74.128.15
  94.74.128.16
  94.74.128.17
  94.74.128.18
  94.74.128.19
  94.74.128.20
  94.74.128.21
  94.74.128.22
  94.74.128.23
  94.74.128.24
  94.74.128.25
  94.74.128.26
  94.74.128.27
  94.74.128.28
  94.74.128.29
  94.74.128.30
  ```
  
  ## web
  ```
  http://my.farahoosh.ir/XBS2
  http://my.farahoosh.ir/XBS2/login
  http://my.farahoosh.ir/XBS2
  http://my.farahoosh.ir/XBS2/login?id=1
  http://my.farahoosh.ir/XBS2/login?id=2
  http://my.farahoosh.ir/XBS2/login?id=3
  http://my.farahoosh.ir/XBS2/login?id=4
  http://my.farahoosh.ir/XBS2/login?id=5
  http://my.farahoosh.ir/XBS2/login?id=6
  http://my.farahoosh.ir/XBS2/login?id=7
  http://my.farahoosh.ir/XBS2/login?id=8
  http://my.farahoosh.ir/XBS2/login?id=9
  http://my.farahoosh.ir/XBS2/login?id=10
  http://my.farahoosh.ir/XBS2/login?id=11
  http://my.farahoosh.ir/XBS2/login?id=12
  http://my.farahoosh.ir/XBS2/login?id=13
  http://my.farahoosh.ir/XBS2/login?id=14
  http://my.farahoosh.ir/XBS2/login?id=15
  http://my.farahoosh.ir/XBS2/login?id=16
  http://my.farahoosh.ir/XBS2/login?id=17
  http://my.farahoosh.ir/XBS2/login?id=18
  http://my.farahoosh.ir/XBS2/login?id=19
  http://my.farahoosh.ir/XBS2/login?id=20
  http://my.farahoosh.ir/XBS2/login?id=21
  http://my.farahoosh.ir/XBS2/login?id=22
  http://my.farahoosh.ir/XBS2/login?id=23
  http://my.farahoosh.ir/XBS2/login?id=24
  http://my.farahoosh.ir/XBS2/login?id=25
  http://my.farahoosh.ir/XBS2/login?id=26
  http://my.farahoosh.ir/XBS2/login?id=27
  http://my.farahoosh.ir/XBS2/login?id=28
  http://my.farahoosh.ir/XBS2/login?id=29
  http://my.farahoosh.ir/XBS2/login?id=30
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
