createdAt: "2018-03-19T22:28:49.279Z"
updatedAt: "2018-03-19T22:38:32.978Z"
type: "MARKDOWN_NOTE"
folder: "4e6ec3c07b3c53796092"
title: "user passs"
content: '''
  # user passs
  # heliohost
  beekalam
  098098
  
  # ihostfull.com
  Control Panel Username: uoolo_21811360
  Control Panel Password: 098098
  Your URL: http://beekalm.ihostfull.com
  FTP Server: ftp.ihostfull.com
  FTP Login: uoolo_21811360
  FTP Password: 098098
  MySQL Database Name: CREATE INSIDE CONTROL PANEL
  MySQL Username: uoolo_21811360
  MySQL Password: 098098
  MySQL Server: SEE INSIDE CONTROL PANEL
  
  #alibaba.ir
  beekalam@gmail.com
  098098
  
'''
tags: []
isStarred: false
isTrashed: false
