createdAt: "2018-04-16T14:56:57.760Z"
updatedAt: "2018-04-16T03:05:14.648Z"
content: '''
  # windows installations
  
  ## php
   * [php-console](https://github.com/barbushin/php-console)
  
  ## di
'''
folder: "2d318b1023a78a20fa3c"
title: "windows installations"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
