createdAt: "2018-03-18T12:58:55.185Z"
updatedAt: "2018-03-18T13:04:35.861Z"
type: "MARKDOWN_NOTE"
folder: "4e6ec3c07b3c53796092"
title: "pretty print json"
content: '''
  ## pretty print json
  
  ## check if string is json
  ```javascript
  try
  {
     var json = JSON.parse(this.responseText);
  }
  catch(e)
  {
     alert('invalid json');
  }
  ```
'''
tags: []
isStarred: false
isTrashed: false
