createdAt: "2018-04-16T14:56:57.592Z"
updatedAt: "2018-04-16T03:05:24.357Z"
content: '''
  #links
  [آموزش php (وبلاگ یک پی اچ پی کار)](http://phpkar.blog.ir/)
  [GoalKicker.com – Free Programming Books](http://goalkicker.com/)
  [Top mentioned books on stackoverflow.com](http://www.dev-books.com/)
  [CodeDay - Coding changes the world](https://www.codeday.top/)
  [Modern Frontend Developer in 2018 – tajawal – Medium](https://medium.com/tech-tajawal/modern-frontend-developer-in-2018-4c2072fa2b9c?mkt_tok=eyJpIjoiWmpReE1UWTNOelZqWWpCayIsInQiOiJwazNHYVNXcm1rNHg4QzlsSDlzQlJHWnB2SDZQVDQ1VmwzXC8rK1wvdnNFeEhSYk8zbU1oNEM0NXFUelFKNDhtMGpkRmx4bHNjVkpzXC9pSUxPUWRyaXJvUFlHdFhGVm9NVjFLYWdHTEtYbmUxT04yb0U4Y25CeDFcL0s5YlAzcWs5RXEifQ%3D%3D)
  
  [Baobab API — Baobab 1.3.1 documentation -- categories table](http://baobab.sideralis.org/api.html#exceptions)
  
'''
folder: "2d318b1023a78a20fa3c"
title: "links"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
