createdAt: "2018-04-09T15:34:36.313Z"
updatedAt: "2018-04-09T15:36:14.328Z"
type: "MARKDOWN_NOTE"
folder: "2d318b1023a78a20fa3c"
title: "numbers"
content: '''
  # numbers
  ## pcpos asanpardakht
  
  (support)
  
  
  (tomecat soft)
  nazari 021-83332566
  
  
  
'''
tags: [
  "support"
]
isStarred: false
isTrashed: false
