createdAt: "2018-03-27T12:25:28.888Z"
updatedAt: "2018-03-27T12:25:45.922Z"
type: "MARKDOWN_NOTE"
folder: "4e6ec3c07b3c53796092"
title: "php error reporting"
content: '''
  # php error reporting
  
  ## display errors
  ```php
  ini_set('display_errors', 1);
  ini_set('display_startup_errors', 1);
  error_reporting(E_ALL);
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
