createdAt: "2018-04-17T10:08:24.517Z"
updatedAt: "2018-04-17T10:10:01.887Z"
type: "MARKDOWN_NOTE"
folder: "554a37a8a3961e45e68d"
title: "regex"
content: '''
  # regex
  
  ## split string by multiple separators
  ```js
  "Hello awesome, world!".split(/[\\s,]+/)
  //Hello,awesome,world!
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
