createdAt: "2018-04-22T02:39:34.599Z"
updatedAt: "2018-04-22T02:48:07.004Z"
type: "MARKDOWN_NOTE"
folder: "2d318b1023a78a20fa3c"
title: "strategies for investigating problems"
content: '''
  # strategies for investigating problems
  ## psychological strategies
  It isn’t hard to acquire a modest amount of mental toughness. As a beginner, you most likely lack some conﬁdence and powers of concentration, but you can increase both simultaneously. You may think that building up conﬁdence is a diﬃcult and subtle thing, but we are not talking here about selfesteem or sexuality or anything very deep in your psyche. Math problems are easier to deal with. You are already pretty conﬁdent about your math ability or you would not be reading this.
  
  You build upon your preexisting conﬁdence by working at ﬁrst on “easy” problems, where “easy” means that you can solve it after expending a modest eﬀort. As long as you work on problems rather than exercises, your brain gets a workout, and your subconscious gets used to success. Your conﬁdence automatically rises. As your conﬁdence grows, so too will your frustration threshold, `if you gradually increase the intellectual “load.” Start with easy problems, to warm up, but then work on harder and harder problems that continually challenge and stretch you to the limit.`
  
  
  # strategies
  ## psychological strategy of  cultivating an open, optimistic attitude
  ## make the problem easier
  
'''
tags: []
isStarred: false
isTrashed: false
