createdAt: "2018-03-29T08:18:01.721Z"
updatedAt: "2018-04-09T12:06:19.207Z"
type: "SNIPPET_NOTE"
folder: "4e6ec3c07b3c53796092"
title: "javascript full screen"
description: "javascript full screen"
snippets: [
  {
    name: ""
    mode: "JavaScript"
    content: '''
      function exitFullscreen() {
        if(document.exitFullscreen) {
          document.exitFullscreen();
        } else if(document.mozCancelFullScreen) {
          document.mozCancelFullScreen();
        } else if(document.webkitExitFullscreen) {
          document.webkitExitFullscreen();
        }
      }
      
      // Find the right method, call on correct element
      function launchIntoFullscreen(element) {
        if(element.requestFullscreen) {
          element.requestFullscreen();
        } else if(element.mozRequestFullScreen) {
          element.mozRequestFullScreen();
        } else if(element.webkitRequestFullscreen) {
          element.webkitRequestFullscreen();
        } else if(element.msRequestFullscreen) {
          element.msRequestFullscreen();
        }
      }
      $(document).ready(function() 
      {
      	
        $("#test_btn").click(function(){
           if (!window.fullScreen) { 
              launchIntoFullscreen(document.documentElement);
            } else { 
              exitFullscreen(document.documentElement);
            }
        });
          // document.documentElement.mozRequestFullScreen();
      });
      
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
