createdAt: "2018-04-16T14:56:57.724Z"
updatedAt: "2018-04-16T03:04:54.151Z"
content: '''
  # truncate file
  
  ```php
  fclose(fopen("file_name","w"));
  ```
'''
folder: "2d318b1023a78a20fa3c"
title: "truncate file"
type: "MARKDOWN_NOTE"
tags: []
isStarred: false
isTrashed: false
