createdAt: "2018-04-05T13:10:07.532Z"
updatedAt: "2018-04-05T13:38:50.498Z"
type: "MARKDOWN_NOTE"
folder: "2d318b1023a78a20fa3c"
title: "heliohost.org"
content: '''
  heliohost.org
  zanbil.sample@gmail.com
  u: zanbil
  p: 098098
  d: zanbil.heliohost.org
  ----------------------------------------------------------------------
  u:beekalam@protonmail.com
  p:098098mki
  ------------------------------------------------------------------------
  site24x7.com
  beekalam@pro  tonmail.com
'''
tags: []
isStarred: false
isTrashed: false
